:root{
    --second_width: 960px;
    --third_width: 720px;
    --fourth_width: 540px;
    --five_width: 300px;
}


/*nav section*/


@media (max-width: 1200px){
    .main_nav{
        max-width: var(--second_width)
    }
    .welcome_container{
        max-width: var(--second_width)
    }
}
@media (max-width: 1025px){
    .main_nav, .welcome_container, .content01_text, .content01_imgbox, .content02, .content04,  footer {
        max-width: var(--third_width);
    }
    .nav_ul{
        display:none;
    }


    .welcome_text h1{
        font-size:45px;
        font-weight: 800;
        color:white;
        font-weight: bolder;
    }
    .welcome_text h5{
        margin-top:40px;
        font-size:35px;
        font-weight: 500;
    }


    .content01_container{
        display:block;
    }
    .content01_text{
        margin:0 auto;
    }
    .content01_imgbox{
        margin:0 auto;
    }
    


    .content02_container{
        display:block
    }
    .content02_text_container{
        margin:30px 0;
    }



    .content04_left p{
        font-size:14px;
    }
    footer p {
        text-align: center;
        margin-bottom:15px;
    }
    .footer_container{
        display:block;
    }
    .footer_right ul{
        display:flex;
        justify-content: center;;
        width:100%:
    }
    #menu{
        display:block;
    }

}


@media (max-width: 768px){
    .main_nav{
        max-width: var(--fourth_width);
    }
    .welcome_container{
        max-width: var(--fourth_width);
    }
    .content01{
        max-width: var(--fourth_width);
    }
    .content02{
        max-width: var(--fourth_width);
    }
    .content04{
        max-width: var(--fourth_width);
    }
    footer{
        max-width: var(--fourth_width);
    }
    .content01_imgbox{
        max-width: var(--fourth_width);
        margin:0 auto;
    }

    .welcome_imgbox{
        width:60%;
        margin:0 auto;
    }
    .welcome_contents{
        display:block;
    }
    .welcome_text{
        text-align: center;
    }
    .welcome_imgbox{
        padding:0;
    }


    .content04_sub_container{
        display:block;
    }
    .content04_left{
        margin-bottom:70px;
    }
    .content04_top h2{
        font-size:40px;
    }


    .content05{
        display:block;
    }


    #map{
        width:100%;
        margin-bottom:30px;
    }
}

@media (max-width: 500px){
    .main_nav{
        max-width: var(--five_width);
    }
    .welcome_container{
        max-width: var(--five_width);
    }
    .content01{
        max-width: var(--five_width);
    }
    .content02{
        max-width: var(--five_width);
    }
    .content04{
        max-width: var(--five_width);
    }
    footer{
        max-width: var(--five_width);
    }
    .welcome_text h5{
        font-size:30px;
    }
    .welcome_text h1{
        font-size:30px;
    }
    nav .main_nav h1 {
        font-size: 20px;
    }
    .content05_right{
        padding:50px;
    }   
}
.is-open{
    display:block;
    text-align: center;
    overflow: hidden;
}
@media (max-width: 1025px){
    .nav_ul{
        position: absolute;
        top:80px;
        z-index:1;
        padding-left: 0;
        width:100%;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }
    
    nav .nav_ul li{
        padding:0px;
    
    }
    .nav_ul li{
        background-color: #fff;
        max-width: var(--third_width);
        border-bottom: 1px solid #eee;
        padding:15px
    }
    .nav_ul li a{
        display:block;
    }
    nav .main_nav  .nav_ul a{
        color: #3b566e
    }
    .dropLi{
        width:100%;
        border-top:1px solid #eee;
        margin-top: 0;
    }
    #dropUl{
        position: relative;
    }

    .main_nav a{
        height:50px;
        line-height: 50px;
    }
}
@media (max-width: 768px){
    .nav_ul li{
        max-width: var(--fourth_width)
    }
}
@media (max-width: 500px){
    .nav_ul li{
        max-width: var(--five_width);
    }
}

@media (max-width: 1395px){
    .content03{
        display:block;
    }
    .leftbtn-container{
        left:40%;
        bottom:5%;
    }
    .rightbtn-container{
        right:40%;
        bottom:5%;
    }
}

/*SLIDER*/

@media (max-width: 1024px){
    .slide_container{
        max-width: var(--third_width);
    }
    .content03 li{
        width:220px;
    }
}
@media (max-width: 700px){
    .slide_container{
        max-width: var(--fourth_width);
    }
    .content03 li{
        width:240px;
    }
    .leftbtn-container{
        left:30%;
    }
    .rightbtn-container{
        right:30%;
    }
}
@media (max-width: 500px){
    .slide_container{
        max-width:var(--five_width);
    }
    .content03 li{
        width:260px;
    }
}

